* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald", sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* Footer */
footer {
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	color: #fd3a54;
	border-top: 1px solid #fd3a54;
}

/* Header */

header {
	width: 100%;
	background-color: transparent;
}

header .links {
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

header .logo-header {
	position: fixed;
	z-index: 10;
	margin: 10px;
}

header .header-img {
	width: 150px;
}

header .winkel-karretje {
	width: 60px;
	margin-right: 10px;
	position: fixed;
	right: 5px;
	margin-top: 5px;
}

header ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

header li {
	margin: 30px;
}

header li a {
	text-decoration: none;
	color: #fd3a54;
	font-size: 30px;
}

header li a:hover {
	font-weight: bold;
}

/* Home */

.home main {
	width: 100%;
	height: 80vh;
	background-image: url("images/pexels-photo-1566837.jpeg");
	background-size: cover;
	border-bottom-style: solid;
	border-color: #fd3a54;
}

.home .content {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home .content .titel {
	color: #fd3a54;
	font-size: 80px;
	text-align: center;
	margin-top: 50px;
	max-width: 70%;
}

.home .info-blokken {
	position: relative;
	bottom: 120px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.home .info-blokken .blok {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px;
	border-radius: 10px;
	border-style: solid;
	width: 330px;
	height: 200px;
}

.home .info-blokken .blok .titel {
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

.home .info-blokken .blok .desc {
	width: 100%;
	text-align: center;
	font-size: 17.5px;
}

.home .info-blokken .blok .blok-link {
	text-decoration: none;
	text-align: center;
	padding: 15px;
	width: 120px;
	color: white;
	background-color: black;
	border-style: solid;
	margin-top: 40px;
	transition: background-color 0.8s, color 0.8s;
}

.home .info-blokken .blok .blok-link:hover {
	color: black;
	background-color: white;
}

.home .info-blokken .blok table {
	width: 100%;
	margin-top: 20px;
	font-size: 17.5px;
}

.home .info-blokken .blok table tr {
	width: 100%;
}

.home .info-blokken .blok table td {
	text-align: center;
}

.home .menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
}

.home .menu .categories ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.home .menu .categories li {
	margin: 20px;
}

.home .menu .categories ul li button {
	background-color: transparent;
	border-style: none;
	font-size: 20px;
}

.home .menu .selected_catagorie {
	border-bottom-style: solid !important;
	border-color: #fd3a54 !important;
}

.home .menu .categories ul li button:hover {
	cursor: pointer;
}

.home .menu .items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* width: 80%; */
}

.home .menu .items .item {
	width: 30%;
	height: 200px;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px;
	border-radius: 10px;
	border-style: solid;
	align-items: center;
	margin: 10px;
}

.home .menu .items .item .titel {
	font-size: 25px;
}

.home .menu .items .item img {
	width: 80%;
	height: 60%;
	object-fit: cover;
}

.home .menu .items .item .bottom {
	margin-top: 5px;

	display: flex;
}

.home .menu .items .item .bottom p {
	font-size: 20px;
	margin-right: 15px;
}

.home .menu .items .item button {
	color: white;
	background-color: black;
	border: none;
	width: 100px;
}

/* Solliciteer */
.solliciteer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url("https://images.pexels.com/photos/1583891/pexels-photo-1583891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
}

.solliciteer footer {
	position: fixed;
	bottom: 0;
}

.solliciteer .titel {
	margin-top: 100px;
	color: #fd3a54;
	font-size: 55px;
}

.solliciteer form {
	display: flex;
	flex-direction: column;
}

.solliciteer form .col-1,
.solliciteer form .col-2 {
	display: flex;
}

.solliciteer .text-label input {
	width: 500px;
	padding: 5px;
	font-size: 18px;
}

.solliciteer .text-label {
	display: flex;
	flex-direction: column;
	color: #fd3a54;
	margin: 10px;
}

.solliciteer .text-label textarea {
	resize: none;
	height: 300px;
	font-size: 18px;
	padding: 5px;
}

.solliciteer form .submit {
	margin: 10px;
	width: 145px;
	font-size: 20px;
	color: #fd3a54;
	border-color: #fd3a54;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

.solliciteer .winkel-karretje {
	display: none;
}

/* Admin Home Page */
.admin_panel .winkel-karretje {
	display: none;
}

.admin_panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.admin_panel .titel {
	margin: 5px;
	font-size: 45px;
}

.admin_panel .buttons {
	display: flex;
	width: 60%;
	justify-content: space-evenly;
}

.admin_panel .buttons a {
	margin-top: 100px;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	width: 250px;
	font-size: 25px;
	color: black;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

.admin_panel table {
	margin-top: 100px;
	border-collapse: collapse;
	width: 80%;
}

.admin_panel td,
.admin_panel th {
	border-style: solid;
	border-radius: 5px;
	text-align: left;
	padding: 8px;
	max-width: 130px;
	overflow: hidden;
}

.admin_panel tr:nth-child(even) {
	background-color: #dddddd;
}

.bewerk_panel .item_bewerk {
	padding: 20px;
	border-style: solid;
	border-radius: 5px;
	overflow: hidden;
}

.bewerk_panel {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bewerk_panel .label-item {
	display: flex;
	flex-direction: column;
	margin: 10px;
	font-size: 25px;
}

.bewerk_panel .label-item input[type="text"],
.bewerk_panel .label-item select {
	font-size: 23px;
	width: 400px;
	max-height: 200px;
}

.item_bewerk .toevoegen {
	justify-content: none;
	display: flex;
	justify-content: start !important;
}

#submit,
#delete {
	background-color: transparent;
	border-color: black;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	width: 150px;
	margin-left: 10px;
}

/* Login */
.login {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-style: solid;
	border-radius: 10px;
	align-items: center;
}

.login form .label-input {
	display: flex;
	flex-direction: column;
	margin: 15px;
	font-size: 25px;
}

.login form input[type="text"] {
	font-size: 20px;
	padding: 2px;
}

.login form p {
	font-size: 40px;
}

.login form input[type="submit"] {
	font-size: 25px;
	background-color: transparent;
	width: 100px;
	padding: 5px;
	border-radius: 5px;
}
