* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald", sans-serif;
}

/* Header */

header {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: transparent;
	border-bottom-style: solid;
	border-color: #fd3a54;
	height: 70px;
}

header .links {
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

header .logo-header {
	width: 150px;
	margin: 10px;
}

header .winkel-karretje {
	width: 60px;
	margin-right: 10px;
}

header ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

header li {
	margin: 30px;
}

header li a {
	text-decoration: none;
	color: #fd3a54;
	font-size: 30px;
}

header li a:hover {
	font-weight: bold;
}

/* Home */

.home main {
	width: 100%;
	height: 80vh;
	background-image: url("images/pexels-photo-1566837.jpeg");
	background-size: cover;
	border-bottom-style: solid;
	border-color: #fd3a54;
}

.home .content {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home .content .titel {
	color: #fd3a54;
	font-size: 80px;
	text-align: center;
	margin-top: 50px;
	max-width: 70%;
}

.home .info-blokken {
	position: relative;
	bottom: 120px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.home .info-blokken .blok {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px;
	border-radius: 10px;
	border-style: solid;
	width: 330px;
	height: 200px;
}

.home .info-blokken .blok .titel {
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

.home .info-blokken .blok .desc {
	width: 100%;
	text-align: center;
	font-size: 17.5px;
}

.home .info-blokken .blok .blok-link {
	text-decoration: none;
	text-align: center;
	padding: 15px;
	width: 120px;
	color: white;
	background-color: black;
	border-style: solid;
	margin-top: 40px;
	transition: background-color 0.8s, color 0.8s;
}

.home .info-blokken .blok .blok-link:hover {
	color: black;
	background-color: white;
}

.home .info-blokken .blok table {
	width: 100%;
	margin-top: 20px;
	font-size: 17.5px;
}

.home .info-blokken .blok table tr {
	width: 100%;
}

.home .info-blokken .blok table td {
	text-align: center;
}

.home .menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
}

.home .menu .categories ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.home .menu .categories li {
	margin: 20px;
}

.home .menu .categories ul li button {
	background-color: transparent;
	border-style: none;
	font-size: 20px;
}

.home .menu .selected_catagorie {
	border-bottom-style: solid !important;
	border-color: #fd3a54 !important;
}

.home .menu .categories ul li button:hover {
	cursor: pointer;
}

.home .menu .items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* width: 80%; */
}

.home .menu .items .item {
	width: 30%;
	height: 200px;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px;
	border-radius: 10px;
	border-style: solid;
	align-items: center;
	margin: 10px;
}

.home .menu .items .item .titel {
	font-size: 25px;
}

.home .menu .items .item img {
	width: 80%;
	height: 60%;
}

.home .menu .items .item .bottom {
	margin-top: 5px;

	display: flex;
}

.home .menu .items .item .bottom p {
	font-size: 20px;
	margin-right: 15px;
}

.home .menu .items .item button {
	color: white;
	background-color: black;
	border: none;
	width: 100px;
}

.home footer {
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: transparent;
	display: flex;
}

.home footer ul {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.home footer li {
	margin: 20px;
	font-size: 25px;
	color: #fd3a54;
}

.home footer a {
	text-decoration: none;
	color: #fd3a54;
}
